@import "./globalColor";
@import "./components/header.scss";
@import "./components/toggleSwitch.scss";
@import "./components/greeting.scss";
@import "./components/socialMedia.scss";
@import "./components/button.scss";
@import "./components/skills.scss";
@import "./components/education.scss";
@import "./components/workExperience.scss";

.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $appHeaderBG;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: $textColorDark;
}

.App-link {
  color: $appLink;
}

.subTitle {
  color: $subTitle;
}

.dark-mode {
  background-color: $darkBackground;
  color: white;
  transition: "0.1s";
}
